<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javapandeng.mapper.NewsMapper">
    <!--实体类与数据库映射字段部分-->
    <resultMap id="ResultMapNews" type="com.javapandeng.po.News">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="addTime" column="addTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 声明数据库字段 -->
    <sql id="News_field">
        id,name,content,addTime
    </sql>

    <!-- 实体类属性-->
    <sql id="News_insert">
        #{id},#{name},#{content},#{addTime}
    </sql>

    <!-- 更新结果  -->
    <sql id="News_update">
        <if test="name != null">
            name = #{name},
        </if>
        <if test="content != null">
            content = #{content},
        </if>
        <if test="addTime != null">
            addTime = #{addTime}
        </if>
    </sql>

    <!-- 查询时条件   -->
    <sql id="News_where">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="content != null">
            and content = #{content}
        </if>
        <if test="addTime != null">
            and addTime = #{addTime}
        </if>
    </sql>

    <!--    新增        -->
    <!--    参数：实体类-->
    <!--    返回：主键 -->
    <insert id="insert" parameterType="com.javapandeng.po.News" useGeneratedKeys="true" keyProperty="id">
        insert into news(
        <include refid="News_field"/>
        ) values(
        <include refid="News_insert"/>
        )
    </insert>

    <!-- 根据实体主键删除一个实体-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from news where id=#{id}
    </delete>

    <!-- 通过实体删除-->
    <delete id="deleteByEntity" parameterType="com.javapandeng.po.News">
        delete from news where 1=1
        <include refid="News_where"/>
    </delete>

    <!-- 通过map删除 -->
    <delete id="deleteByMap" parameterType="java.util.HashMap">
        delete from news where 1=1
        <include refid="News_where"/>
    </delete>

    <!-- 更新一个实体 -->
    <update id="update" parameterType="com.javapandeng.po.News">
        update news
        <set>
            <include refid="News_update"/>
        </set>
        where 1=1
            <include refid="News_where"/>
    </update>

    <!-- 通过id进行修改-->
    <update id="updateById" parameterType="com.javapandeng.po.News">
        update news
        <set>
            <include refid="News_update"/>
        </set>
        where id=#{id}
    </update>

    <!-- 根据参数查询-->
    <select id="listByMap" resultMap="ResultMapNews" parameterType="map">
        select <include refid="News_field"/>
        from news where 1=1
        <include refid="News_where"/>
    </select>

    <!-- 查询整个表 -->
    <select id="listAll" resultMap="ResultMapNews">
        select <include refid="News_field"/>
        from news
    </select>

    <!-- 查询所有实体,根据实体属性值为判断条件查询所有实体-->
    <select id="listAllByEntity" resultMap="ResultMapNews" parameterType="com.javapandeng.po.News">
        select <include refid="News_field"/>
        from news where 1=1
        <include refid="News_where"/>
    </select>

    <!-- 根据主键获取一个实体-->
    <select id="load" resultMap="ResultMapNews" parameterType="java.lang.Integer">
        select <include refid="News_field"/>
        from news where id=#{id}
    </select>

    <!-- 根据主键获取一个实体-->
    <select id="getById" resultMap="ResultMapNews" parameterType="java.lang.Integer">
        select <include refid="News_field"/>
        from news where id=#{id}
    </select>

    <!-- 通过map查询-->
    <select id="getByMap" resultMap="ResultMapNews" parameterType="map">
        select <include refid="News_field"/>
        from news where 1=1
        <include refid="News_where"/>
    </select>

    <!--通过对象查询-不分页-->
    <select id="getByEntity" resultMap="ResultMapNews" parameterType="com.javapandeng.po.News">
        select <include refid="News_field"/>
        from news where 1=1
        <include refid="News_where"/>
    </select>

    <!-- 通过map查询分页-->
    <select id="findByMap" resultMap="ResultMapNews" parameterType="map">
        select <include refid="News_field"/>
        from news where 1=1
        <include refid="News_where"/>
    </select>

    <!--通过对象查询分页-->
    <select id="findByEntity" resultMap="ResultMapNews" parameterType="com.javapandeng.po.News">
        select <include refid="News_field"/>
        from news where 1=1
        <include refid="News_where"/>
    </select>

    <!-- 批量新增-->
    <select id="insertBatch" parameterType="java.util.List">
        insert into news(
        <include refid="News_field"/>
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name},#{item.content},#{item.addTime})
        </foreach>
    </select>

    <!-- 批量修改-->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update news
            <set>
                <if test="item.name != null">
                    name = #{item.name},
                </if>
                <if test="item.content != null">
                    content = #{item.content},
                </if>
                <if test="item.addTime != null">
                    addTime = #{item.addTime}
                </if>
            </set>
            where 1=1
            <if test="item.id != null">
               and id = #{item.id}
            </if>
        </foreach>
    </update>

    <!-- 封装纯sql语法-->
    <!-- 查询一个对象返回map-->
    <select id="getBySqlReturnMap" resultType="map">
        ${sql}
    </select>

    <!-- 查询一个对象返回实体类-->
    <select id="getBySqlReturnEntity" resultMap="ResultMapNews">
        ${sql}
    </select>

    <!-- 查询一个对象返回map列表-->
    <select id="listBySqlReturnMap" resultType="map">
        ${sql}
    </select>

    <!-- 查询列表返回实体-->
    <select id="listBySqlReturnEntity" resultMap="ResultMapNews">
        ${sql}
    </select>

    <!-- 查询分页-->
    <select id="findBySqlRerturnEntity" resultMap="ResultMapNews">
        ${sql}
    </select>

    <!-- 通过sql修改-->
    <update id="updateBysql">
        ${sql}
    </update>

    <!-- 通过sql删除-->
    <delete id="deleteBySql">
         ${sql}
    </delete>
</mapper>