<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.max.dao.AccountMapper">
    <select id="findAll" resultType="com.max.domain.Account">
        select * from account
    </select>
</mapper>