<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.max.dao.CourseMapper">
<select id="findCourseByCondition" parameterType="com.max.domain.CourseVO" resultType="com.max.domain.Course">
    select * from course
    <where>
        <if test="courseName !=null and courseName != ''">
            and course_name like concat('%',#{courseName},'%')
        </if>
        <if test="status !=null and status != ''">
            and status = #{status}
        </if>
        <if test="true">
            and is_del != 1
        </if>
    </where>
</select>

    <!-- 保存课程信息 -->
    <insert id="saveCourse" parameterType="com.max.domain.Course" >
        INSERT INTO course(
        course_name,
        brief,
        preview_first_field,
        preview_second_field,
        course_img_url,
        course_list_img,
        sort_num,
        price,
        discounts,
        sales,
        discounts_tag,
        course_description_mark_down,
        create_time,
        update_time
    ) VALUES(#{courseName},#{brief},#{previewFirstField},#{previewSecondField},#
    {courseImgUrl},
    #{courseListImg},#{sortNum},#{price},#{discounts},#{sales},#{discountsTag},#
    {courseDescriptionMarkDown},
    #{createTime},#{updateTime});
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
        SELECT LAST_INSERT_ID();
    </selectKey>
    </insert>

    <!-- 保存讲师信息 -->
    <insert id="saveTeacher" parameterType="com.max.domain.Teacher">
        INSERT INTO teacher(
            course_id,
            teacher_name,
            POSITION,
            description,
            create_time,
            update_time
        ) VALUES(#{courseId},#{teacherName},#{position},#{description},#
            {createTime},#{updateTime});
    </insert>


    <!-- 课程信息回显-->
    <select id="findCourseById" parameterType="int" resultType="com.max.domain.CourseVO">
        SELECT
         c.*,
         t.teacher_name  teacher_name,
         t.position  POSITION,
         t.description   description
        FROM course c
         LEFT JOIN teacher t
         ON c.id = t.course_id
        WHERE c.id = #{id}
    </select>

    <!-- 更新课程信息-->
    <update id="updateCourse" parameterType="com.max.domain.Course">
        UPDATE course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="brief != null and brief != ''">
                brief=#{brief},
            </if>
            <if test="previewFirstField != null and previewFirstField != ''">
                preview_first_field=#{previewFirstField},
            </if>
            <if test="previewSecondField != null and previewSecondField != ''">
                preview_second_field=#{previewSecondField},
            </if>
            <if test="courseImgUrl != null and courseImgUrl != ''">
                course_img_url=#{courseImgUrl},
            </if>
            <if test="courseListImg != null and courseListImg != ''">
                course_list_img=#{courseListImg},
            </if>
            <if test="sortNum != null and sortNum != ''">
                sort_num=#{sortNum},
            </if>
            <if test="price != null and price != ''">
                price=#{price},
            </if>
            <if test="discounts != null and discounts != ''">
                discounts=#{discounts},
            </if>
            <if test="sales != null and sales != '' or sales==0">
                sales=#{sales},
            </if>
            <if test="discountsTag != null and discountsTag != ''">
                discounts_tag=#{discountsTag},
            </if>
            <if test="courseDescriptionMarkDown != null and
courseDescriptionMarkDown != ''">
                course_description_mark_down=#{courseDescriptionMarkDown},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </trim>
        <where>
            <if test="id!=null and id != '' ">id=#{id}</if>
        </where>
    </update>




    <!--更新讲师信息-->
    <update id="updateTeacher" parameterType="com.max.domain.Teacher">
        UPDATE teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherName != null and teacherName != ''">
                teacher_name = #{teacherName},
            </if>
            <if test="position != null and position != ''">
                position = #{position},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where>
        <if test="courseId != null and courseId != '' ">course_id = #
            {courseId}</if>
        </where>
    </update>

    <update id="updateCourseStatus" parameterType="com.max.domain.Course">
        update course set status = #{status},update_time = #{updateTime} where id = #{id}
    </update>

</mapper>