<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.max.dao.MenuMapper">

    <resultMap id="menuResult" type="com.max.dao.Menu">
        <id property="id" column="id"></id>
        <result property="parentId" column="parent_id"></result>
        <result property="href" column="href"></result>
        <result property="icon" column="icon"></result>
        <result property="name" column="name"></result>
        <result property="description" column="description"></result>
        <result property="orderNum" column="order_num"></result>
        <result property="shown" column="shown"></result>
        <result property="level" column="level"></result>
        <result property="createdTime" column="created_time"></result>
        <result property="updatedTime" column="updated_time"></result>
        <result property="createdBy" column="created_by"></result>
        <result property="updatedBy" column="updated_by"></result>
        <!--
            1.自连接查询：根据第一次查询出来父级菜单的id做为条件，再去查询该父级菜单下的子级菜单
            2.父级菜单和子级菜单的关系是一对多的关系
        -->
        <collection property="subMenuList" ofType="com.max.domain.Menu" select="findParentMenuAndSubMenu" column="id"></collection>
    </resultMap>

    <!--List<Menu> findParentMenuAndSubMenu(Integer id);
        使用嵌套查询查询父子级菜单
    -->
    <select id="findParentMenuAndSubMenu" parameterType="int" resultMap="menuResult">
        select * from menu where parent_id = #{id}
    </select>

    <!-- List<Menu> findAllMenu();-->
    <select id="findAllMenu" resultType="com.max.domain.Menu">
        select * from menu
    </select>

    <!--Menu findMenuById(Integer id);-->
    <select id="findMenuById" parameterType="int" resultType="com.max.domain.Menu">
        select * from menu where id = #{id}
    </select>

    <!-- void saveMenu(Menu menu);-->
    <insert id="saveMenu" parameterType="com.max.domain.Menu">
        insert into menu
        values (null,#{parentId},#{href},#{icon},#{name},#{description},#{orderNum},#{shown},#{level},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>

    <!-- void updateMenu(Menu menu);-->
    <update id="updateMenu" parameterType="com.max.domain.Menu">
        update menu set description = #{description},href = #{href},icon = #{icon},
                        name = #{name},order_num = #{orderNum},parent_id = #{parentId},shown = #{shown},
                        updated_time = #{updatedTime}
        where id = #{id}
    </update>
</mapper>