<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.max.dao.PromotionAdMapper">
    <resultMap id="ad_space" type="com.max.domain.PromotionAd">

        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="spaceId" column="spaceId"/>
        <result property="keyword" column="keyword"/>
        <result property="htmlContent" column="htmlContent"/>
        <result property="text" column="text"/>
        <result property="link" column="link"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="status" column="status"/>
        <result property="priority" column="priority"/>
        <result property="img" column="img"/>

        <!--根据spaceId外键去查询promotion_space这张表,去做一个嵌套查询-->
        <association property="promotionSpace"
                     javaType="cn.xuguowen.pojo.PromotionSpace"
                     select="cn.xuguowen.dao.PromotionSpaceMapper.findPromotionSpaceById"
                     column="spaceId">
        </association>

    </resultMap>
    <!-- List<PromotionAd> findAllPromotionAdAndPromotionSpace();-->
    <select id="findAllPromotionAdAndPromotionSpace" resultMap="ad_space">
        <!-- 根据查询出来的spaceId再去查询广告位信息-->
        SELECT * FROM promotion_ad
    </select>

    <!--  void savePromotionAd(PromotionAd promotionAd);-->
    <insert id="savePromotionAd" parameterType="com.max.domain.PromotionAd">
        insert into promotion_ad values(null,#{name},#{spaceId},#{keyword},#{htmlContent},
                                        #{text},#{link},#{startTime},#{endTime},#{createTime},#{updateTime},#{status},#{priority},
                                        #{img})
    </insert>

    <!--PromotionAd findPromotionAdById(Integer id);-->
    <select id="findPromotionAdById" parameterType="int" resultType="com.max.domain.PromotionAd">
        select id,name,spaceId,startTime,endTime,status,img,link,text from promotion_ad
        where id = #{id}
    </select>

    <!--void updatePromotionAd(PromotionAd promotionAd);-->
    <update id="updatePromotionAd" parameterType="com.max.domain.PromotionAd">
        update promotion_ad
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and '' != name">
                name = #{name},
            </if>
            <if test="spaceId != null">
                spaceId = #{spaceId},
            </if>
            <if test="startTime != null">
                startTime = #{startTime},
            </if>
            <if test="endTime != null">
                endTime = #{endTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="img != null and '' != img">
                img = #{img},
            </if>
            <if test="link != null and '' != link">
                link = #{link},
            </if>
            <if test="text != null and '' != text">
                text = #{text},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
        </trim>

        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>

    </update>

    <!--void updatePromotionAdStatus(PromotionAd promotionAd);-->
    <update id="updatePromotionAdStatus" parameterType="com.max.domain.PromotionAd">
        update promotion_ad set status = #{status},updateTime = #{updateTime} where id = #{id}
    </update>
</mapper>