<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.max.dao.RoleMapper">
    <!-- List<Role> findAllAndCondition(Role role);-->
    <select id="findAllAndCondition" parameterType="com.max.domain.Role" resultType="cn.xuguowen.pojo.Role">
        select * from roles
        <where>
            <if test="name != null and '' != name">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <!-- List<Integer> findMenuIdByRoleId(Integer id);-->
    <select id="findMenuIdByRoleId" parameterType="int" resultType="int">
        SELECT m.id FROM roles r
                             INNER JOIN role_menu_relation rm ON r.id = rm.role_id
                             INNER JOIN menu m ON m.id = rm.menu_id WHERE r.id = #{id}
    </select>

    <!-- void deleteMenuListByRoleId(Integer rid);-->
    <delete id="deleteMenuListByRoleId" parameterType="int">
        delete from role_menu_relation where role_id = #{rid}
    </delete>

    <!--void insertRoleMenuRelation(Role_menu_relation role_menu_relation);-->
    <insert id="insertRoleMenuRelation" parameterType="com.max.domain.Role_menu_relation">
        insert into role_menu_relation
        values (null,#{menuId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!-- void deleteRoleByRoleId(Integer roleId);-->
    <delete id="deleteRoleByRoleId" parameterType="int">
        delete from roles where id = #{roleId}
    </delete>

    <!--void saveRole(Role role);-->
    <insert id="saveRole" parameterType="com.max.domain.Role">
        insert into roles
        values (null,#{code},#{name},#{description},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>

    <!-- void updateRole(Role role);-->
    <update id="updateRole" parameterType="com.max.domain.Role">
        update roles set name = #{name},description = #{description},code = #{code}
        where id = #{id}
    </update>
</mapper>