<component name="ArtifactManager">
  <artifact type="war" name="spring-04-webmvc-xml-withdao:war">
    <output-path>$PROJECT_DIR$/spring-04-webmvc-xml-withdao/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-04-webmvc-xml-withdao</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-04-webmvc-xml-withdao-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-04-webmvc-xml-withdao:war exploded" />
    </root>
  </artifact>
</component>